header{
    color: #000000;
    ul,li{
        padding: 0;
        margin: 0;
    }
    .container{
        padding: 1rem 0 0 0;       
        .top{
            width: 16.5%;
        }
        .logosvg{
         color: red
         ;
        }
        .middle{
            width: 66.666%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            ul{
                width: 100%;
                justify-content: center;
                li{
                    a{
                        padding: 1rem 2rem 0 2rem;
                    }
                }
              }
        }
    .bottom{
        width: 16.5%;
        ul{
            li{
                padding-left: 1rem;
                font-size: 14px;
            }
            li a:after {
                content: '';
                position: absolute;
                top: 50%;
                left: -5px;
                height: 13px;
                border-left: 1px solid #c9c9c9;
                transform: translateY(-50%);
            }
        }
    }
      .bgsearch{
        background-image: url(../img/search.png);
        width: 17px;
        height: 17px;
        display: block;
        margin-top: 0.2rem;
        transform: scale(0.9);
      }  
    }
}
header:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color: rgb(0, 0, 0)!important;
}
header:hover a {
    /* a 태그 내부 텍스트 색상을 파란색으로 변경 */
    color: rgb(0, 0, 0);
    transition: 0.5s;
  }
#Hd{
    background-image: url(../img/section2.jpg);
    height: 90vh;
    .Hdtext{
        background-color: #00000050;
        border-radius: 10px;
        padding: 1rem;
        top: 15%;
        left: 12%;
        color: #fff;
        font-size: 1.75rem;
        span{
            font-size: 2.5rem;
            display: inline-block;
        }
        p{
            font-size: 1rem;
        }
        .Ttext{
            font-size: 1.75rem;
        }
    }
}
.hd.active{
    transform: translateY(0);
    
  
  }
  .hd{
    transform: translateY(-100%);
    transition: 0.5s;
  }
@media(max-width: 767px){
    .middle{
        ul{
            
            flex-direction: column;
            padding: 0%;
            li{
                a{padding: 0!important;
                  font-size: 11px;
                  line-height: 35px;
                  margin-left: 16px;
                  color: #000000;
                  font-weight: bold;
                }
            }
        }

    }
    header:hover{
        background-color: #ffffff00;
        transition: 0.5s;
        color: rgb(0, 0, 0)!important;
    }
    #navHd{
        position: fixed;
        left: 0;
        top: 0;
        width: 100px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .top{
            display: none;
        }
        .logo{
            display: none;
        }
        .bottom{
            display: none;
        }
    }
    #Hd{
        background-image: url(../img/section2.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        height: 90vh;
        .Hdtext{
            background-color: #0000008c;
            border-radius: 10px;
            padding: 1rem;
            top: 25%;
            left: -10%;
            color: #fff;
            font-size: 1.75rem;
            transform: scale(0.7);
            
            span{
                font-size: 2.5rem;
                display: inline-block;
            }
            p{
                font-size: 1rem;
            }
            .Ttext{
                font-size: 1.75rem;
            }
        }
        .Menu{
            a{
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }
    }
}